/* This is for the Chat Supporter backend */

.support-chat-module {
    font-family: sans-serif;
    font-size: 16px;
}

.typo3-mediumDoc {
    width: 100% !important;
}

#chatboxes_wrap {
    font-size: 16px;
    margin: 0;
}

.alert {
    border-bottom: 1px dotted #172e75;
    border-top: 1px dotted #172e75;
    padding: 5px 2%;
}

.chat_single_wrap {
    color: #000;
    font-size: 1em;
}

.chat_single_wrap {
    background: #e1dfdb;
    border: 1px solid #b9b7b4;
    float: left;
    margin: 0 2% 2% 0;
    width: 45%;
}

.chat_single_wrap .top {
    background: lightgrey;
    padding: 10px;
}

.chat_single_wrap .top .chat_close {
    cursor: pointer;
    display: block;
    float: right;
}

.chat_single_wrap .top .chat_close:after {
    color: red;
    content: '\00D7';
    font-weight: bold;
}


[id^='chatsNaviTop_'] li {
    border-right: 1px solid #b9b7b4;
    cursor: pointer;
    line-height: 20px;
    margin: 0;
    padding: 5px;
    white-space: nowrap;
}

.chat_single_wrap .top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chat_single_wrap .top ul ul {
    border-top: 1px solid #b9b7b4;
    margin: 0;
}

.chat_single_wrap .top ul ul li {
    background: #e1dfdb url(../../Images/2dots.gif) repeat-x bottom;
}

.chat_single_wrap .top ul ul ul li {
    background: #e1dfdb;
    border-bottom: 1px solid #b9b7b4;
    white-space: nowrap;
}

.chat_single_wrap .top .last {
    background-image: none;
    border-bottom: 1px solid #b9b7b4;
}

.chat_single_wrap .top .unclickable {
    color: #000;
    font-style: italic;
}

.chat_single_wrap h2 {
    background: #b9bfca;
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 2px 15px;
}

.chat_single_wrap h2 p {
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.chat_single_wrap h2 img {
    vertical-align: middle;
}

.chat_single_wrap .single_chatbox {
    background: #fff;
    height: 175px;
    overflow: auto;
    padding: 7px 15px;
}

.chat_single_wrap .descr {
    border-bottom: none;
    border-top: 1px solid #ccc;
    color: #172e75;
    margin: 0;
    min-height: 2rem;
    padding: 15px;
}

.chat_single_wrap textarea {
    border-bottom: 1px solid #b9b7b4;
    border-top: 1px solid #b9b7b4;
    height: 50px;
    margin: 0;
    padding: 15px;
    width: 100%;
}

.chat_single_wrap .chatbox_status {
    border-top: 1px solid #f6f2ee;
    font-style: italic;
    line-height: 15px;
    margin: 0;
    padding: 15px;
}

.chat_single_wrap .status_icon {
    cursor: pointer;
    display: block;
    float: right;
    height: 15px;
    margin: 3px 4px 3px 4px;
    width: 15px;
}

.chat_single_wrap .lock_it {
    background: transparent url(../../Images/unencrypted.jpg) no-repeat center center;
}

.chat_single_wrap .unlock_it {
    background: transparent url(../../Images/encrypted.jpg) no-repeat center center;
}

/*added for typing icon*/
.chat_single_wrap .typing {
    border: 0;
    display: inline;
    float: right;
    margin: 3px 5px 0 0;
}

.chat_single_wrap .not_typing {
    border: 0;
    display: none;
    float: right;
    margin: 3px 5px 0 0;
}

.chat_single_wrap .loading {
    background: transparent url(../../Images/loading.gif) no-repeat center center;
}

.chat_single_wrap h2 .snillo {
    color: #000;
}

.single_chatbox .date {
    color: #333;
}

.single_chatbox .system_message {
    color: #eb1557;
}

.single_chatbox .be_user_message {
    color: #172e75;
}

.fe_user_message {
    display: none;
}

.single_chatbox .message {
    color: #000;
    font-size: 1em;
    line-height: 1.5;
}

.single_chatbox .message img {
    vertical-align: middle;
}

.single_chatbox a {
    color: #000;
    text-decoration: underline;
}

.single_chatbox a:focus,
.single_chatbox a:hover {
    text-decoration: none;
}


.log_title {
    font-style: italic;
    margin: 0 2% 0 0;
}

#logBox {
    background: #fff;
    border: 1px solid #b9b7b4;
    font-style: italic;
    height: auto;
    margin: 0 2% 0 0;
    overflow: auto;
    padding: 0 4px;
}

#logBox p {
    margin: 0;
    padding: 0;
}


hr.clearer {
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

html > body hr.clearer {
    margin: 0;
}

